*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(45deg,#4e65ff,#92effd);

}
.navigation{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
    background: #fff;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
    overflow: hidden;
}
.navigation.active{
    width: 300px;
    height: 400px;
    transition:width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
}
.navigation .userBx{
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.navigation.active .userBx {
    width: calc(100% - 60px);
}
.navigation .userBx .username{
    white-space: nowrap;
    color: #555;
    font-size: 1.1em;
}

.navigation .userBx .imgBx{
    position: relative;
    min-width: 60px;
    height: 60px;
    overflow: hidden;
    background: #000;
    border-radius: 50%;
    border: 10px solid #fff;
}
.navigation .userBx .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.navigation .menuToggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation .menuToggle::before{
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: 0.5s;
}
.navigation.active .menuToggle::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0px #555;
}
.navigation .menuToggle::after{
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(10px);
    transition: 0.5s;
}
.navigation.active .menuToggle::after{
    transform: translateY(0px) rotate(-45deg);
}
.menu{
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    border-top:1px solid rgba(0,0,0,0.1);

}
.menu li{
    list-style: none;
    
}
.menu li a{
    display: inline-block;
    margin: 13px 25px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}